<!doctype html>
<html>
  <head>
    <title>ragechats.com</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css" type="text/css" />
    <link rel="stylesheet" href="http://static.ragechats.com/css/chat.css?v0.2.0" type="text/css" />
    <link rel="stylesheet" href="http://static.ragechats.com/css/ragefaces.css?v0.2.0" type="text/css" />
    <link rel="shortcut icon" href="http://static.ragechats.com/img/favicon.ico?v0.2.0" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25517735-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="inbox-wrapper">
        <a id="home" href="/">ragechats.com</a>
      <div id="inbox"></div>
    </div>
    <div id="input">
      <form action="/send/message" method="post" id="msgform">
        <div id="message-wrapper">
          <input id="message" class="xlarge" type="text" autocomplete="off">
        </div>
        <input id="send" class="btn primary" type="submit" value="Send">
      </form>
    </div>
    <div id="ragefaces-wrapper">
      <div id="ragefaces">
        <a href="/dude" title="/dude"><span class="rage dude"></span></a>
        <a href="/yawn" title="/yawn"><span class="rage yawn"></span></a>
        <a href="/quite" title="/quite"><span class="rage quite"></span></a>
        <a href="/dazed" title="/dazed"><span class="rage dazed"></span></a>
        <a href="/pokerface" title="/pokerface"><span class="rage pokerface"></span></a>
        <a href="/badpokerface" title="/badpokerface"><span class="rage badpokerface"></span></a>
        <a href="/hmmm" title="/hmmm"><span class="rage hmmm"></span></a>
        <a href="/challengeaccepted" title="/challengeaccepted"><span class="rage challengeaccepted"></span></a>
        <a href="/determined" title="/determined"><span class="rage determined"></span></a>
        <a href="/reallydetermined" title="/reallydetermined"><span class="rage reallydetermined"></span></a>
        <a href="/smile" title="/smile"><span class="rage smile"></span></a>
        <a href="/blistful" title="/blistful"><span class="rage blistful"></span></a>
        <a href="/fakesmile" title="/fakesmile"><span class="rage fakesmile"></span></a>
        <a href="/excited" title="/excited"><span class="rage excited"></span></a>
        <a href="/excitedtears" title="/excitedtears"><span class="rage excitedtears"></span></a>
        <a href="/foreveraloneexcited" title="/foreveraloneexcited"><span class="rage foreveraloneexcited"></span></a>
        <a href="/ewbte" title="/ewbte"><span class="rage ewbte"></span></a>
        <a href="/awwwyeah" title="/awwwyeah"><span class="rage awwwyeah"></span></a>
        <a href="/closeenough" title="/closeenough"><span class="rage closeenough"></span></a>
        <a href="/hatersgonnahate" title="/hatersgonnahate"><span class="rage hatersgonnahate"></span></a>
        <a href="/fuckthatbitch" title="/fuckthatbitch"><span class="rage fuckthatbitch"></span></a>
        <a href="/lol" title="/lol"><span class="rage lol"></span></a>
        <a href="/lolright" title="/lolright"><span class="rage lolright"></span></a>
        <a href="/lolleft" title="/lolleft"><span class="rage lolleft"></span></a>
        <a href="/pfft" title="/pfft"><span class="rage pfft"></span></a>
        <a href="/pfft2" title="/pfft2"><span class="rage pfft2"></span></a>
        <a href="/high" title="/high"><span class="rage high"></span></a>
        <a href="/sweettears" title="/sweettears"><span class="rage sweettears"></span></a>
        <a href="/megusta" title="/megusta"><span class="rage megusta"></span></a>
        <a href="/creepymegusta" title="/creepymegusta"><span class="rage creepymegusta"></span></a>
        <a href="/fapfap" title="/fapfap"><span class="rage fapfap"></span></a>
        <a href="/fapfapquite" title="/fapfapquite"><span class="rage fapfapquite"></span></a>
        <a href="/fffffffuuuuuuuuuuuud" title="/fffffffuuuuuuuuuuuud"><span class="rage fffffffuuuuuuuuuuuud"></span></a>
        <a href="/sonmegusta" title="/sonmegusta"><span class="rage sonmegusta"></span></a>
        <a href="/sweetjesus" title="/sweetjesus"><span class="rage sweetjesus"></span></a>
        <a href="/dogsweetjesus" title="/dogsweetjesus"><span class="rage dogsweetjesus"></span></a>
        <a href="/drunk" title="/drunk"><span class="rage drunk"></span></a>
        <a href="/blistfulnotgiveafuck" title="/blistfulnotgiveafuck"><span class="rage blistfulnotgiveafuck"></span></a>
        <a href="/ohgod" title="/ohgod"><span class="rage ohgod"></span></a>
        <a href="/surprised" title="/surprised"><span class="rage surprised"></span></a>
        <a href="/dumbfoundedkid" title="/dumbfoundedkid"><span class="rage dumbfoundedkid"></span></a>
        <a href="/dumbfounded" title="/dumbfounded"><span class="rage dumbfounded"></span></a>
        <a href="/what" title="/what"><span class="rage what"></span></a>
        <a href="/milk" title="/milk"><span class="rage milk"></span></a>
        <a href="/lean" title="/lean"><span class="rage lean"></span></a>
        <a href="/gasp" title="/gasp"><span class="rage gasp"></span></a>
        <a href="/clevergirl" title="/clevergirl"><span class="rage clevergirl"></span></a>
        <a href="/obamanotbad" title="/obamanotbad"><span class="rage obamanotbad"></span></a>
        <a href="/sad" title="/sad"><span class="rage sad"></span></a>
        <a href="/busted" title="/busted"><span class="rage busted"></span></a>
        <a href="/why" title="/why"><span class="rage why"></span></a>
        <a href="/crying" title="/crying"><span class="rage crying"></span></a>
        <a href="/foreveralone" title="/foreveralone"><span class="rage foreveralone"></span></a>
        <a href="/okay" title="/okay"><span class="rage okay"></span></a>
        <a href="/areyoukiddingme" title="/areyoukiddingme"><span class="rage areyoukiddingme"></span></a>
        <a href="/retarded" title="/retarded"><span class="rage retarded"></span></a>
        <a href="/thefuck" title="/thefuck"><span class="rage thefuck"></span></a>
        <a href="/seriouslychan" title="/seriouslychan"><span class="rage seriouslychan"></span></a>
        <a href="/troll" title="/troll"><span class="rage troll"></span></a>
        <a href="/insanetroll" title="/insanetroll"><span class="rage insanetroll"></span></a>
        <a href="/melvin" title="/melvin"><span class="rage melvin"></span></a>
        <a href="/gaytroll" title="/gaytroll"><span class="rage gaytroll"></span></a>
        <a href="/ifeelsyabra" title="/ifeelsyabra"><span class="rage ifeelsyabra"></span></a>
        <a href="/trolldad" title="/trolldad"><span class="rage trolldad"></span></a>
        <a href="/trolldadjump" title="/trolldadjump"><span class="rage trolldadjump"></span></a>
        <a href="/ilied" title="/ilied"><span class="rage ilied"></span></a>
        <a href="/evilsmile" title="/evilsmile"><span class="rage evilsmile"></span></a>
        <a href="/hitler" title="/hitler"><span class="rage hitler"></span></a>
        <a href="/mad" title="/mad"><span class="rage mad"></span></a>
        <a href="/mad2" title="/mad2"><span class="rage mad2"></span></a>
        <a href="/foaming" title="/foaming"><span class="rage foaming"></span></a>
        <a href="/pissed" title="/pissed"><span class="rage pissed"></span></a>
        <a href="/shaking" title="/shaking"><span class="rage shaking"></span></a>
        <a href="/stare" title="/stare"><span class="rage stare"></span></a>
        <a href="/yuno" title="/yuno"><span class="rage yuno"></span></a>
        <a href="/no" title="/no"><span class="rage no"></span></a>
        <a href="/dad" title="/dad"><span class="rage dad"></span></a>
        <a href="/mom" title="/mom"><span class="rage mom"></span></a>
        <a href="/rage1" title="/rage1"><span class="rage rage1"></span></a>
        <a href="/rage2" title="/rage2"><span class="rage rage2"></span></a>
        <a href="/ragenuclear" title="/ragenuclear"><span class="rage ragenuclear"></span></a>
        <a href="/rageomega" title="/rageomega"><span class="rage rageomega"></span></a>
        <a href="/rageextreme" title="/rageextreme"><span class="rage rageextreme"></span></a>
        <a href="/epicbeardguy" title="/epicbeardguy"><span class="rage epicbeardguy"></span></a>
        <a href="/ragecanadian" title="/ragecanadian"><span class="rage ragecanadian"></span></a>
        <a href="/rageredditalien" title="/rageredditalien"><span class="rage rageredditalien"></span></a>
        <a href="/ragecat" title="/ragecat"><span class="rage ragecat"></span></a>
        <a href="/retarddog" title="/retarddog"><span class="rage retarddog"></span></a>
        <a href="/fumanchu" title="/fumanchu"><span class="rage fumanchu"></span></a>
        <a href="/beerguy" title="/beerguy"><span class="rage beerguy"></span></a>
        <a href="/cerealspitting" title="/cerealspitting"><span class="rage cerealspitting"></span></a>
        <a href="/newspaperguy" title="/newspaperguy"><span class="rage newspaperguy"></span></a>
        <a href="/newspapertear" title="/newspapertear"><span class="rage newspapertear"></span></a>
        <a href="/gtfo" title="/gtfo"><span class="rage gtfo"></span></a>
        <a href="/truestory" title="/truestory"><span class="rage truestory"></span></a>
        <a href="/grandmashit" title="/grandmashit"><span class="rage grandmashit"></span></a>
        <a href="/freddie" title="/freddie"><span class="rage freddie"></span></a>
        <a href="/reddit" title="/reddit"><span class="rage reddit"></span></a>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://static.ragechats.com/js/jquery.cookie.js?v0.2.0" type="text/javascript"></script>
    <script src="http://static.ragechats.com/js/chat.js?v0.2.0" type="text/javascript"></script>
  </body>
</html>
